<nav>
  <div class="nav-wrapper indigo darken-4">
    <a href="#!" class="brand-logo">Web Tools</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/dns">DNS Lookup</a></li>
      <li><a routerLink="/md5">MD5 Generator</a></li>
      <li><a routerLink="/sha1">SHA1 Generator</a></li>
      <li><a routerLink="/ip">IP Adress</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a routerLink="/dns">DNS Lookup</a></li>
      <li><a routerLink="/md5">MD5 Generator</a></li>
      <li><a routerLink="/sha1">SHA1 Generator</a></li>
      <li><a routerLink="/ip">IP Adress</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
